@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6 text-primary ">Applications of Yamin Hassan</h1>
    <p>Learning is About <strong > the Discoveries</strong></>.</p>
</div>
<div class="container">
    <div class="row">
       

            <div class="card col-3" style="width: 12rem; height: 25rem; border:1px solid black">
                <img class="card-img-top" src="~/Images/Bmi.png" alt="Card image cap" style="height:12rem;">
                <div class="card-body">
                    <h5 class="card-title">BMI Calculator</h5>
                    <p class="card-text">Calculate your BMI </p>
                    <a href="Home/Bmi" class="btn btn-primary">Calculate</a>
             </div>
           
        </div>
        
            <div class="card col-3" style="width: 12rem; height: 25rem; border:1px solid black">
                <img class="card-img-top" src="~/images/images.png" alt="Card image cap" style="height:12rem;">
                <div class="card-body">
                    <h5 class="card-title">Distance Converter</h5>
                    <p class="card-text"> The distance converer can convert the distance units from units e.g Miles , Cm etc to Other units</p>
                    <a href= "Home/DistanceConverter" class="btn btn-primary" >Calcuate</a>
                </div>
            </div>
       
        
            <div class="card col-3" style="width: 12rem; height: 25rem; border:1px solid black">
                <img class="card-img-top" src="~/Images/grades.jpg" alt="Card image cap" style="height:12rem;">
                <div class="card-body">
                    <h5 class="card-title">Student Grades</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="Students" class="btn btn-primary">Calculate</a>
                </div>
            </div>
        
       
            <div class="card col-3" style="width: 12rem; height: 25rem; border:1px solid black">
                <img class="card-img-top" src="~/Images/SocialNetwork.jpg" alt="Card image cap" style="height:12rem;">
                <div class="card-body" >
                    <h5 class="card-title">Social Network</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Visit</a>
                </div>
            </div>
        </div>

    


</div>